/*css reset*/
/*should not use default font, should declare own*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans serif;
}



/*landing page*/



#jumbo-land{
	height: 100vh;
	padding-top: 20%;
	background-color: #333;/*off-black*/
	border-radius: 0;/*removes jumbotron's rounded corners*/
	background-image: url(https://media.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif);
	background-size: cover;
}


/*combinators*/

.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;/*off-white*/
}

.jumbotron hr {
	background-color: #fff;/*white*/
}

.btn a {
	text-decoration: none;
	color: /*white*/#fff;/*white*/
}


/*end of landing page*/