* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bitter', serif;
}

html {
	scroll-behavior: smooth;
}

/*new update, smooth when jump to home from end of the webpage*/+
/*arrangement back to front: z-index: 1 -- banner; z-index: 0 -- #back; z-index: -1 -- .register/.services*/





/*.nav,.banner,.register,.services,.projects,.gallery*/
.nav,
.banner,
.register,
.services,
.projects,
.gallery {
	padding: 30px;
}




/*start nav*/
.nav {
	background-color: #333;
	height: 100%;
	width: 200px;
	position: fixed;
}

/*child selector (>), target all children*/
ul > li {
	list-style: none;
	background-color: lightblue;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 48px;
	border: 3px solid #333;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
/*line height times three of font-size*/



ul > li > a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	/*padding: 10px 30px;*/
}
/*font weight--bold: 700; light: 300*/


ul > li:hover {
	background-color: rgba(97,203, 217,1);
	border: 3px solid #C2195B;
	transition: 1s;
}

ul > li:hover > a{
	color: black;
}
/*decendant vs >, decendant will target all the child and grandchild and greatgrandchild, child combinator specific to child only*/
/*ul
	li
		a*/


.logo {
	height: 140px;
	width: 140px;
	margin: 0 auto;
	/*margin: 30px 30px;*/
	border-radius: 100%;
	margin-bottom: 16px;
	border: 2px solid /*#333*/#f2f2f2;
}





/*end nav*/
/*start home section*/





/*siblings selector*/
.banner:hover ~ #back {
	z-index: -100;
}
 /*or*/
/* .banner {
 	z index: 10;
 }*/

#back{
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: 1;
}
/*z-index: 1 in order to push #back in front of form and .register*/

.main {
	background-color: lightgrey;
	margin-left: 200px;
}

.banner{
	height: 100vh;
	/*background-color: skyblue;*/
	position: relative;
	background-image: url(../images/halloween1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 2;
}
/*vh--viewport height*/
/*parallax effect--background-attachment: fixed;*/

main .main .banner: hover {
	display: url(#back);
}

h1 {
	letter-spacing: 2px;
	margin-bottom: 10px;
	color: /*rgba(97,203,217, 1)*/#FE8000;
	background-color: rgba(0,0,0,0.75);
	padding: 10px;
	border-radius: 10px;
}
/*0.25 transparent, 0.75 slight transparent, 1 not transparent*/


.box > p {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

.box{
	text-align: center;
	width: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /*x and y values*/
}





/*end home*/
/*start register section*/





.register {
	height: 100vh;
	background-color: /*indianred*/#FE8000;
	background-image: url(../images/halloween5.png);
	position: relative;
}

form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255, 0.75);
	padding: 30px;
	border-radius: 10px;
	color: black;
}

.form-control {
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 5px;
}

/*1.*/
.alert {
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
	width: 50%;
	margin: 0 auto;
	/*visibility: hidden;*/
	display: none;
}

#name:focus {
	background-color: lightblue;
	/*(focus) go inside the type box, the input box will be lighblue*/
	/*read on display block and display none*/
	/*read on visibility hidden and visibility visible*/
}

#email:focus {
	background-color: lightblue;
}

#name:focus ~ #user-alert {
	color: black;
	background-color: red;
	/*visibility: visible;*/
	display: block;
}

#email:focus ~ #email-alert {
	color: black;
	background-color: red;
	/*visibility: visible;*/
	display: block;
}

/*2. display: none*/
/*.alert {
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
	width: 50%;
	margin: 0 auto;
	display: none;
}
#name:focus ~ .alert {
	color: black;
	background-color: red;
	display: block;
}*/

/*when use visibility: hidden and display: none, display: none will be override and display none will take effect*/
/*pseudo classes*/

.btn-block {
	width: 100%;
	text-align: center;
	background-color: green;
	color: white;
	padding: 10px 30px;
	border-radius: 5px;
}




/*end register*/
/*start services section*/





.services {
	height: 100vh;
	background-color: midnightblue;
	background-image: url(../images/halloween5.png);
}

.projects {
	height: 100vh;
	background-color: crimson;
	background-image: url(../images/halloween5.png);
}

.gallery {
	height: 100vh;
	background-color: orange;
	background-image: url(../images/halloween4.jpg);
}

/*end services section*/



/*media queries*/
/*mobile styles*/
@media only screen and (max-width: 400px) {
	.nav {
		display: none;
	}
	.main {
		width: 100%;
	  	margin-left: 0;
	}
}
