*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page {
	width: 900px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
.menu {
	height: 100px;
	background-color: #B2D6FF;
}
/*#B2D6FF ANIKAWA*/

.sidebar {
	height: 300px;
	width: 200px;
	background-color: #F09A9D;
	float: left;
}
/*#F09A9D Sea Pink*/

.content {
	height: 500px;
	width: 650px;
	background-color: #F5CF8E;
	float: left;
}
/*#F5CF8E  Manhattan*/

.footer {
	clear: both;
	/*height: 200px;*/
	border: 1px solid red;
	background-color: #D6E9FE;
}
/*#D6E9FE  Pattens Blue*/
/*the feature of "clear" is clearing floating*/
/*clear left and right may not applicable sometimes, but clear floating in general will work*/

.clear::after {
	/*overflow: auto;*/
	content: "/*hello*/";
	clear: both;
	display: table;
}
/*clear::after and float can recognize the width of the element, not height*/
/*display: table is not required prior to the update of HTML*/
/*overflow recognize overflowing elemnents and automatically adjust its dimensions*/
/*cloat and clear*/


.column {
	background-color: #B2D6FF;
	height: 160px;
	width: 30%;
	margin: 20px 1.3%;
	float: left;
}

.footer .column {

	background-color: #B2D6FF
}
