* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#container {
	height: 1000vh;
	background-color: red;
}*/

#warn {
	width: 35%;
}

#win {
	width: 75%;
}

#info {
	width: 95%;
}

#kaliwa {
	background-color: green;
	height: 50vh;
}

#kanan {
	background-color: red;
	height: 30vh
}

.first {
	background-color: skyblue;
	/*height: 150px;*/
}

.second {
	background-color: yellow;
	/*height: 250px;*/
}

.third {
	background-color: pink;
	/*height: 120px;*/
}