*{
margin: 0;
padding: 0;
box-sizing: border box;
}

#pula {
	background-color: red;
	/*padding: 50px;*/
	/*margin: 50px;*/
	width: 100px;
}

p{
	background-color: skyblue;
}

.heading {
	background-color: cyan;
	width: 50px;
}