@font-face {
  font-family: 'nightsky';
  src: url(../fonts/nightsky.ttf);
}

/*css reset*/
/*should not use default font, should declare own*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}



/*landing page*/

/*title*/

.landing {
  text-align: center;

}



span {
  font-size: medium;
}



/*end of title*/

#jumbo-land{
	height: 100vh;
	padding-top: 20%;
	background-color: #333;/*off-black*/
	border-radius: 0;/*removes jumbotron's rounded corners*/
	background-image: url(https://cdn-images-1.medium.com/max/2600/1*_kL-szqqP_Xw4ChHyIsoww.jpeg);
	background-size: cover;
}


/*combinators*/

.jumbotron h1 .title{
	font-family: 'nightsky', sans-serif;
	font-size: 100px;
  font-kerning: normal;
  font-style: italic;
	color: #fff44f;/*off-white*/
}
.jumbotron p {
	font-family: 'Parisienne', cursive;
	font-size: 40px;
	color: #f2f2f2;/*lemon yellow*/
}

.jumbotron hr {
	background-color: #fff;/*white*/
}



.btn a span {
	font-size: 20px;
  font-family: 'Merriweather', serif;
	color: /*white*/#fff;/*white*/
  margin-top: 50px;
}




/*end of landing page*/

/*#navbar {
	background-color: indianred;
}*/

/*button .navbar-toggler-icon {

}*/



/*start of home page*/


#home-landing {
	background-color: #333;/*off-black*/
	color: #f2f2f2;/*off-white*/
	height: 80vh;
	font-size: 2em;
	padding: 20%;
	letter-spacing: 5px;
	font-family: 'Merriweather', serif;
}

/*.kolumn {
	background-color: red;
}*/

/*end of home page*/

/*start of about page*/
#jumbotron-about {
	background-color: #333;/*off-black*/
	color: #f2f2f2;/*off-white*/
	height: 80vh;
	border-radius: 0;
	margin-bottom: 0;
}


#landing-about {
	background-color: #333;/*off-black*/
	color: #f2f2f2;/*off-white*/
	height: 80vh;
	font-size: 2em;
	padding: 20%;
	letter-spacing: 5px;
	font-family: 'Merriweather', serif;
}
/*An em is a unit in the field of typography, equal to the currently specified point size. For example, one em in a 16-point typeface is 16 points.*/
/*The name em was originally a reference to the width of the capital M in the typeface and size being used, which was often the same as the point size.*/


#mission {
	height: 100%;
	background-color: #333;/*off black*/
	color: #fff;/*off white*/
}

#vision {
	height: 100%;
	background-color: #fff;/*off white*/
	color: #333;/*off black*/
}

.about-tags {
	font-weight: bold;
	font-family: "galaxy", sans-serif;
}
/*end of about page*/

/*start of contact page*/
#gmap {
	width: 100%;
	display: block;
	border: none;
	height: 70vh;
	border-radius: 10px;
}

