*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: open sans;
}

main {
	width: 500px;
	border: 1px solid lightgrey;
	margin: 0 auto;
	padding: 5px;
/*}
header, #form, #container 
main {*/
	text-align: center;
}

img{
	padding:5px;
	border:1px solid white;
	border-radius: 50%;
}



.chat{
	background-color: #0084ff;
	color: white
	margin-bottom: 10px;
	padding: ;
}

.chat img {
	width: 50px;
	border: 1px solid white;
	margin: 2px;
	padding: 5px;
	border-radius: 50px;
}

.tuitt {
	text-align: right;
}
. steve {
	text-align: left;
}

header, #container {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 10px;
}

#form button {
	background-color: #00844ff;
	color: white;
	padding: 15px 32px;

#form textarea {
	width: 100%;
	border-radius: 10px;
}

